<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">

    <style>

        nav ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        padding: 1rem 1rem;
        }
        
        nav li {
        padding-left: 1rem;
        }

        #user {
            margin-left: auto;
        }
    </style>

</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('forms.form')}}">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="{{url_for('register.register')}}">Register</a></li>
            <li><a href="{{url_for('image')}}">Your Area</a></li>
        </ul>
    </nav>

    {% block content %}
    
    {% endblock %}
</body>
</html>