{% extends 'base.html' %}

{% block content %}
<h1>ECO-AI</h1>
<h3>ECO-AI helps everyone have a meaningful impact on solving climate change. It generates 5 personalized  tasks for users every day (using ChatGPT API) that a person can do to be more eco-friendly. To encourage users, it further analyzes which of the tasks the person completed to give a summary of the impact they had. ECO-AI also demonstrates the need for change by showing a summary of the recent climate trends in their location, including a plot (created using Matplotlib) of the CO2 emissions in recent years.</h3>
{% endblock %}